name: Tests

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]
  workflow_call:


jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      
      - name: Get dependencies
        run: go mod download
      
      - name: Run tests
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
      
      - name: Upload coverage results
        uses: actions/upload-artifact@v7
        with:
          name: coverage-results
          path: coverage.out
          retention-days: 1
          overwrite: true